<div class="textcolorwhite">
<h1>Edit Your Pin</h1>

<%= render 'form' %>
<br />

<%= link_to 'Show', @pin, class: 'textcolorwhite' %> |
<%= link_to 'Back', pins_path, class: 'textcolorwhite' %>

</div>
