<%= image_tag @pin.image.url :medium %>

<div class='textcolorwhite'>

		<p>
		  <%= @pin.description %>
		</p>

		<% if @pin.user == current_user %>
			<%= link_to 'Edit', edit_pin_path(@pin), class: 'textcolorwhite' %> |
		<% end %>
		<%= link_to 'Back', pins_path, class: 'textcolorwhite' %>

</div>