<%= link_to '<< Go Back', pins_path, class: 'redtext' %>
<br/>
<br/>
<div id="pins">

<div class="boxbig panel panel-default">

	<%= image_tag @pin.image.url %>

	<div class="panel-body"

		<p>
		  <strong><%= @pin.description %></strong>
		</p>

		<% if @pin.user == current_user %>
			<%= link_to 'Edit', edit_pin_path(@pin), class: 'redtext' %> 
		<% end %>
		
	</div>
</div>

</div>